.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.6);
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;

  min-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}
